<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container text-center">
<div >
<h2 style="padding: 100px;">قم بالتسجيل في الماده التي تريدها</h2>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-4  col-md-12 NewHover"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-counter primary">
              <i class="fa fa-code-fork"></i>
              <span class="count-numbers">اللغه العربيه
                  <span style="padding-right: 40px; cursor: pointer;"> 
                    <button type="button" class="btn btn-light btn-circle btn-xl" style="background-color:#06BBCC !important;">
                        <img src="assets/img/unnamed.png" style="width: 70px; height: 70px; margin-top: -10px;">
                    </button> 
    </span>
              </span>
            </div>
          </div>

    <div class="col-xl-4  col-md-12 NewHover"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">اللغه العربيه
              <span style="padding-right: 40px; cursor: pointer;"> 
                <button type="button" class="btn btn-light btn-circle btn-xl" style="background-color:#06BBCC !important;">
                    <img src="assets/img/unnamed.png" style="width: 70px; height: 70px; margin-top: -10px;">
                </button> 
</span>
          </span>
        </div>
      </div>
      <div class="col-xl-4  col-md-12 NewHover"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">اللغه العربيه
              <span style="padding-right: 40px; cursor: pointer;"> 
                <button type="button" class="btn btn-light btn-circle btn-xl" style="background-color:#06BBCC !important;">
                    <img src="assets/img/unnamed.png" style="width: 70px; height: 70px; margin-top: -10px;">
                </button> 
</span>
          </span>
        </div>
      </div>

  

     </div>
</div>



<!-- /////////////////////////////Modals////////////////////////////////// -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 1140px !important">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;">انضم الينا </h2>
        </div>
        <div class="modal-body" style="padding-top: 40px;">
            <div class="row" style="padding-top: 20px; padding-bottom: 30px;">
                <div class="col-11">
                    <h4 class="form-label select-label text-end" style="padding-bottom: 10px;">اختر المعلم </h4>

                    <select class="form-select form-select-lg mb-3" aria-label="اختر اليوم الاول">
                        <option selected>اختر اليوم الاول</option>
                        <option value="1">سبت</option>
                        <option value="2">حد</option>
                        <option value="3">Three</option>
                      </select>
              </div>
              <div class="col-1"></div>
                </div>
          <div class="row" style="padding-top: 20px; padding-bottom: 30px;">
            <div class="col-6 " style="border-left: 1px solid rgb(214, 208, 208);">
                <h4 class="form-label select-label text-end" style="padding-bottom: 10px;">قم باختيار اليوم المناسب لك</h4>

                <select class="form-select form-select-lg mb-3" aria-label="اختر اليوم الاول">
                    <option selected>اختر اليوم الاول</option>
                    <option value="1">سبت</option>
                    <option value="2">حد</option>
                    <option value="3">Three</option>
                  </select>
                   </div>
              <div class="col-6">
                <h4 class="text-end">
                    قم بتحديد الوقت المناسب لك

                </h4>
                <div class="btn-group text-end" style="float: inline-start;padding-top: 15px;">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                    <label class="btn btn-primary" for="option1">12 AM</label>
                  
                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                    <label class="btn btn-primary" for="option2">10 PM</label>
                  
                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" />
                    <label class="btn btn-primary" for="option3">4 PM</label>
                  </div>
          </div>
        </div>
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>