.NewStyle
{
    background-color: #002f57;
    color: white;
    border-color: gainsboro;
}
.card-block h4
{
  color: white;
}
.NewStyle :hover
{
    background-color: #06BBCC;
    color: white;
    text-shadow: 2px 2px;
    padding-top: 3px;
}