<div>
<div class="container text-center my-5">
    <h2>
        اكاديميه الخليج

    </h2>
    <h5>
        اكاديميه الخليج
        هي نموذج افتراضي من المدرسة الحقيقية حيث تضم
 جميع الصفوف بجميع المواد،وتستطيع إيجاد ملفات كل مادة واختبارات لكل مادة تساعدك باختبار نفسك، 
ودروس مجانية مصورة، وكأنك في مدرسة فعلية.
    </h5>
</div>
<div>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4 col-xl-3 ">
                <div class="card NewStyle rounded-3">
                    <div class="card-block">
                        <h4 class="text-end" style="padding: 20px;">الاول</h4>
                        <p class="m-b-0 text-start" style="padding-left: 20px;">1</p>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4 col-xl-3 ">
                <div class="card NewStyle rounded-3">
                    <div class="card-block">
                        <h4 class="text-end" style="padding: 20px;">التاني</h4>
                        <p class="m-b-0 text-start" style="padding-left: 20px;">2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3 ">
                <div class="card NewStyle rounded-3">
                    <div class="card-block">
                        <h4 class="text-end" style="padding: 20px;">الثالث</h4>
                        <p class="m-b-0 text-start" style="padding-left: 20px;">3</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3 ">
                <div class="card NewStyle rounded-3">
                    <div class="card-block">
                        <h4 class="text-end" style="padding: 20px;">الرابع</h4>
                        <p class="m-b-0 text-start" style="padding-left: 20px; font-size: 20;">4</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>