    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
      <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
          <h2 class="m-0 text-primary"><i class="fa fa-book mx-3"></i>أكاديمية الخليج</h2>
      </a>
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0">
              <a href="index.html" class="nav-item nav-link active">الرئيسية</a>
              <a href="#aboutUs" class="nav-item nav-link">عن المنصة</a>
              <a href="contact.html" class="nav-item nav-link">تواصل معنا</a>
          </div>
          <a href="#joinUs" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">إنضم إلينا<i class="fa fa-arrow-left ms-3 mx-2"></i></a>
      </div>
  </nav>
  <!-- Navbar End -->


  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5">
      <div class="header-carousel position-relative">
          <div class=" position-relative">
              <img class="img-fluid" width="100%" src="/assets/img/ok.jpeg" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-sm-10 col-lg-8">
                              <h5 class="text-primary text-uppercase mb-3 animated slideInDown">أفضل الدورات عبر الإنترنت</h5>
                              <h1 class="display-3 text-white animated slideInDown">أفضل منصة للتعلم عبر الإنترنت</h1>
                              <p class="fs-5 text-white mb-4 pb-2">استعد لاكتشاف عالم جديد من المعرفة! انضم إلى منصتنا التعليمية لتجربة تعلم فريدة ومثيرة.                                </p>
                              <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">أقراء المزيد عنا</a>
                              <a href="#joinUs" class="btn btn-light py-md-3 px-md-5 animated slideInRight">إنضم إلينا</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Carousel End -->

  <!-- About Start -->
  <div id="aboutUs" class="container-xxl py-5">
      <div class="container">
          <div class="row g-5">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                  <div class="position-relative h-100">
                      <img class="img-fluid position-absolute w-100 h-100" src="/assets/img/about.jpg" alt="" style="object-fit: cover;">
                  </div>
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                  <h6 class="section-title bg-white text-start text-primary px-3">عن المنصة</h6>
                  <h1 class="mb-4"> مرحبا بك في اكاديمية الخليج</h1>
                  <p class="mb-4">** اكتشف منصتنا التعليمية الفريدة، حيث يجتمع التعلم الذكي مع التكنولوجيا لخلق تجربة تعلم لا مثيل لها</p>
                  <p class="mb-4">** تعلم في أي وقت ومن أي مكان! انضم إلينا واستفد من المحتوى التعليمي المميز الذي يلبي احتياجاتك</p>
                  <div class="row gy-2 gx-4 mb-4">
                      <div class="">
                          <p class="mb-0"><i class="fa fa-arrow-right text-primary mx-3"></i>افضل الكوادر التدريسية</p>
                      </div>
                      <div class="">
                          <p class="mb-0"><i class="fa fa-arrow-right text-primary mx-3"></i>دروس على الأنترنت</p>
                      </div>

                      <div class="">
                          <p class="mb-0"><i class="fa fa-arrow-right text-primary mx-3"></i> مختلف المراحل الدراسية</p>
                      </div>


                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->


   <!-- Service Start -->
   <div id="joinUs" class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">إنضم إلينا</h6>
              <h1 class="mb-5 mt-1">إنضم إلينا</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
              <a routerLink="/cycle">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> -->
                          <img class="text-primary mb-4" src="/assets/img/2.png" >
                          <h5 class="mb-3">برنامج الدورات </h5>
                          <p>تركز على مهارات القراءة، وتستهدف الأمهات ومعلمات رياض الأطفال والصفوف الأولى</p>
                      </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a  routerLink="/consulting">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i> -->
                          <img class="text-primary mb-4" src="/assets/img/1.png">

                          <h5 class="mb-3">برنامج الاستشارات</h5>
                          <p>استشارات لغوية تفيد الأم والطفل، وأدبية خاصة بالكُتّاب، وأخرى للمهتمين بالطباعة والنشر</p>


                      </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a  routerLink="/registration">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          <!-- <i class="fa fa-3x fa-home text-primary mb-4"></i> -->
                          <img class="text-primary mb-4" src="/assets/img/3.png">
                          <h5 class="mb-3">برنامج الخدمات</h5>
                          <p>انضم إلينا لاستكشاف عالم الرياضيات والعلوم واللغة بطرق جديدة وشيقة. نحن هنا لجعل التعلم متعة!</p>
                      </div>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
  <!-- Service End -->


  <!-- Categories Start -->
  <!-- <div class="container-xxl py-5 category">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">دروسنا</h6>
              <h1 class="mb-5">برامجنا التعليمية</h1>
          </div>
          <div class="row g-3">
              <div class="col-lg-7 col-md-6">
                  <div class="row g-3">
                      <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="/assets/img/cat-1.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Web Design</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="/assets/img/cat-2.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Graphic Design</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="/assets/img/cat-3.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Video Editing</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                  <a class="position-relative d-block h-100 overflow-hidden" href="">
                      <img class="img-fluid position-absolute w-100 h-100" src="/assets/img/cat-4.jpg" alt="" style="object-fit: cover;">
                      <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                          <h5 class="m-0">Online Marketing</h5>
                          <small class="text-primary">49 Courses</small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Categories Start -->


  <!-- Team Start -->
  <!-- <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">طلابنا</h6>
              <h1 class="mb-5">أراء طلابنا</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="/assets/img/team-1.jpg" alt="">
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="/assets/img/team-2.jpg" alt="">
                      </div>

                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="/assets/img/team-3.jpg" alt="">
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="/assets/img/team-4.jpg" alt="">
                      </div>
                      <div class="text-center p-4" >
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Team End -->


   <!-- Modal -->



  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-4 col-md-6 ">
                  <h4 class="text-white mb-3">أكاديمية الخليج</h4>
                  <a class="btn btn-link" href="#aboutUs">عن المنصة</a>
                  <a class="btn btn-link" routerLink="/privacy">سياسة الخصوصية</a>
                  <a class="btn btn-link" routerLink="/cancel">سياسة الإلغاء </a>
                  <a class="btn btn-link" href="">الشروط والاحكام</a>
              </div>

              <div class="col-lg-4 col-md-6">
                  <!-- <h4 class="text-white mb-3">تواصل معنا</h4>
                  <p class="mb-2"><i class="fa fa-phone-alt mx-3"></i>+012 345 67890</p>
                  <p class="mb-2"><i class="fa fa-envelope mx-3"></i>infoexample.com</p> -->

              </div>

              <div class="col-lg-4 col-md-6">
                  <h4 class="text-white mb-3">طرق الدفع</h4>
                  <div class="row g-2 pt-2">
                      <div class="col">
                          <img src="/assets/img/comdlpng6953127.jpg" width="80%">
                      </div>
                  </div>
              </div>


          </div>
      </div>
      <div class="container">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="#">أكاديمية الخليج </a>, جميع الحقوق محفوظة.

                  </div>

          </div>
      </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->



