<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top mt-2" style="width: 85%;" src="/assets/img/download.png"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">دورة تعليم مهارات اللغة العربية باللعب </h4>
      <!--Text-->

      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md" data-bs-toggle="modal" data-bs-target="#exampleModal">احجز الان</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/images.jpeg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title"> دورة التأسيس في القراءة والكتابة</h4>
      <!--Text-->

      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md"  data-bs-toggle="modal" data-bs-target="#exampleModal">احجز الان</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/smart.png"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">دورة الطلاقة في القراءة</h4>
      <!--Text-->

      <button type="button" class="btn btn-light-blue btn-md"  data-bs-toggle="modal" data-bs-target="#exampleModal">احجز الان</button>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 1140px !important">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;">انضم الينا </h2>
      </div>
      <div class="modal-body" style="padding-top: 40px;">
          <div class="row" style="padding-bottom: 30px; ">
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputNumber"> الاسم</label>
                <input type="text" class="form-control" id="exampleInputNumber" placeholder="ادخل الاسم">
              </div>

              <div class="form-group my-3">
                <label for="exampleInputEmail1">البريد الاكترونى </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ادخل البريد الاكترونى">
                <small id="emailHelp" class="form-text text-muted">لن نشارك البريد مع احد اطمن</small>
              </div>
              <div class="form-group">
                <label for="exampleInputNumber">رقم الهاتف</label>
                <input type="number" class="form-control" id="exampleInputNumber" placeholder="ادخل رقم الهاتف">
              </div>
              <div class="form-group my-3">
                <label for="exampleInputNumber"> وصف</label>
               <textarea name="discrption" id="discrption" cols="90" rows="5"></textarea>
              </div>
              <div class="form-group my-3">
                <label for="exampleInputNumber"> ارفع ملف</label>
               <input type="file">
              </div>
            </div>
            <!-- <div class="col-11">
              <h4 class="form-label select-label text-end" style="padding-bottom: 10px;">اختر المعلم </h4>

              <select class="form-select form-select-lg mb-3" aria-label="اختر اليوم الاول">
                  <option selected>اختر اليوم الاول</option>
                  <option value="1">سبت</option>
                  <option value="2">حد</option>
                  <option value="3">Three</option>
                </select>
        </div> -->
              </div>

              <div class="row" style="padding-top: 20px; padding-bottom: 30px">
                <div class="col-12">
                    <h4 class="form-label select-label text-end" style="padding-bottom: 10px;">اختر ساعات الاستشاره</h4>
                    <select class="form-select form-select-lg mb-3" aria-label="اختر اليوم الاول">
                        <!-- <option selected>اختر اليوم الاول</option> -->
                        <option value="1">ساعه</option>
                        <option value="2">ساعتين</option>
                        <option value="3">تلاث ساعات</option>
                        <option value="4">رابع ساعات</option>
                      </select>
                </div>
               </div>
        <!-- <div class="row" style="padding-top: 20px; padding-bottom: 30px;">
          <div class="col-6 " style="border-left: 1px solid rgb(214, 208, 208);">
              <h4 class="form-label select-label text-end" style="padding-bottom: 10px;">قم باختيار اليوم المناسب لك</h4>

              <select class="form-select form-select-lg mb-3" aria-label="اختر اليوم الاول">
                  <option selected>اختر اليوم الاول</option>
                  <option value="1">سبت</option>
                  <option value="2">حد</option>
                  <option value="3">Three</option>
                </select>
                 </div>
            <div class="col-6">
              <h4 class="text-end">
                  قم بتحديد الوقت المناسب لك

              </h4>
              <div class="btn-group text-end" style="float: inline-start;padding-top: 15px;">
                  <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                  <label class="btn btn-primary" for="option1">12 AM</label>

                  <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                  <label class="btn btn-primary" for="option2">10 PM</label>

                  <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" />
                  <label class="btn btn-primary" for="option3">4 PM</label>
                </div>
        </div>
      </div> -->


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
