.NewStyle
{
    background-color:white;
    color:  #002f57;
    padding: 20px;
    border-color: gainsboro;
}
.card-block h2
{
  color:  #002f57;
}
.hoverCard :hover
{
    background-color: #06BBCC;
    color: white;
    text-shadow: 2px 2px;
    padding-top: 3px;
}