<div class="container my-5" style="text-align: center;">
  <div data-elementor-type="wp-page" data-elementor-id="27424" class="elementor elementor-27424"
      data-elementor-post-type="page">
              <div class="elementor-widget-container">

  <h2 class="my-5">سياسة الخصوصية</h2>
</div>
<div class="elementor-element elementor-element-9baa0c2 elementor-widget elementor-widget-text-editor"
data-id="9baa0c2" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container" style="text-align: right;">

      <p><span style="font-size: 16px;">الجزء الأول: اتفاقية الاستخدام:</span></p>
      <p><span style="font-size: 16px;">تسمى هذه الاتفاقية باتفاقية استخدام منصة
          </span>
          <b style="font-style: inherit;">Gulf Academy </b>
          <span style="font-size: 16px;">التعليمية، وتعني الموافقة عليها قراءتها وفهمها والموافقة على جميع
              ما
              جاء بها، وتشمل البنود والشروط والأحكام التالية:</span>
      </p>
      <p><span style="font-size: 16px;">1. ما لم يقتضي السياق معنى آخر: يكون
              للكلمات
              والعبارات التالية المعاني الواردة أمامها: ه تقديم المنصة، منصة </span><b
              style="font-style: inherit;">Gulf Academy </b><span style="font-size: 16px;">:
              منصة <b>Gulf Academy </b>التعيمية، وتختصر بتقديم.</span></p>
      <p><span style="font-size: 16px;">المؤسسة التعليمية تعني المؤسسة التعليمية
              المتعاقد معها للظهور واستخدام المنصة، وذلك في جميع المستويات التعليمية التعليم المدرسي وقبل
              المدرسي، التعليم الجامعي التعليم فوق الجامعي، التدريب). الطالب: هو عميل المنصة الذي يرغب في
              استخدام المنصة للتقديم للمؤسسات التعليمية.</span></p>
      <p><span style="font-size: 16px;">معادلة الشهادات: هي العملية الإلكترونية
              التي
              تتم بواسطة المنصة لتفريغ بيانات الطالب ونتيجة الشهادة التي تحصل عليها من صورة ضوئية إلي نصوص
              وأرقام ومطابقتها بما يعادلها من شهادات في الدولة أو المؤسسة التعليمية المراد التقدم لها، وهي
              عملية إلكترونية تساعد إدارة القبول والتسجيل المعنية بالمؤسسة التعليمية، لكنها ليست بديلاً عن
              إجراء المعادلة الرسمي الذي تقوم به الجهات الرسمية المختصة لكنها عملية مساعدة لتسريع إجراءات
              القبول عبر المنصة، ويعود القرار النهائي فيها لإدارة القبول المعنية بالمؤسسة
              التعليمية.</span>
      </p>
      <p>
          <span style="font-size: 20px;color: red;">** الترشيح: هو عملية التقديم للقبول التعليمي
              لدى
              المؤسسات التعليمية.</span></p>
      <p><span style="font-size: 16px;">الطالب المرشح: هو الطالب الذي اكتملت عملية
              تقديمه لمؤسسة تعليمية بعينها من خلال المنصة.</span></p>
      <p><span style="font-size: 16px;">القبول المبدئي: هو عملية الرد بالقبول
              مبدئياً
              عقب خطوة التقديم للمؤسسة التعليمية أو الترشيح للدراسة بها.</span></p>
      <p><span style="font-size: 16px;">القبول النهائي هو عملية إكمال متطلبات
              التقديم
              للمؤسسة التعليمية، وموافقة المؤسسة التعليمية على قبول أو ترشيح الطالب، واكتمال مطلوبات
              القبول
              التي ترد في القبول المبدئي. ه التسجيل: هو العملية التي تعقب القبول النهائي، وذلك بالحصول على
              القبول الرسمي من الجهات الرسمية المختصة، واجتياز المعاينات الخاصة بالمؤسسة التعليمية، وسداد
              الرسوم الدراسية المقررة ورسوم التسجيل وإكمال بقية مطلوبات التسجيل بالمؤسسة التعليمية.</span>
      </p>
      <p><span style="font-size: 16px;">2 منصة </span><b style="font-style: inherit;">Gulf Academy
          </b><span style="font-size: 16px;">التعليمية هي منصة غير حكومية تعمل على عرض المؤسسات التعليمية والفرص
              الدراسية الموجودة بها، وتستعرض المعلومات الخاصة بتلك المؤسسات حيث تقوم كل مؤسس تعليمية
              مشتركة في
              المنصة بكتابة وتحرير المعلومات الخاصة بها دون تدخل من المنصة سوى في الجانب التقني أو جانب
              التصميم وتقع مسئولية المعلومات على عاتق المؤسسة</span></p>
      <p><span style="font-size: 16px;">التعليمية.</span></p>
      <p><span style="font-size: 16px;">3 لا تمثل منصة <b>Gulf Academy
              </b>التعليمية أي جهة حكومية ولا تشكل بديلا لأي وسيلة حكومية رسمية لعملية التقديم والقبول
              ومعادلة
              الشهادات في أي مكان في العالم. وتقوم المنصة بالاستفادة من القوانين واللوائح والأنظمة الرسمية
              المعلنة لتسهل عملية التقديم باعتبارها خطوة أولية للمساعدة الإدارية.</span></p>
      <p><span style="font-size: 16px;">4. يجب التعامل مع جميع المعلومات الواردة
              في
              منصة <b>Gulf Academy </b>التعليمية باعتبارها معلومات عامة غير رسمية إلا فى
              السياق الخاص بها وذلك فيما يتصل بالمعلومات المنشورة من المؤسسات التعليمية المشاركة في
              المنصة</span></p>
      <p><span style="font-size: 16px;">5. يجب تعبئة جميع المعلومات بعناية
              والتعامل مع
              كل الحروف والأرقام والمعلومات المطلوبة باعتبارها ذات حساسية عالية للاعتبارات التقنية التي
              تؤثر
              وتساعد في عملية الترشيح والفلترة والفرز وإكمال عملية التقديم.</span></p>
      <p><span style="font-size: 16px;">6. أي إدلاء بمعلومات كاذبة أو مضللة أو
              خاطئة
              يتحمل مقدمها المسئولية القانونية التي تقع على عاتقه تجاه أي جهة رسمية أو عدلية أو
              قضائية.</span>
      </p>
      <p><span style="font-size: 16px;">7. يعتبر استخدام المنصة استخداماً شخصياً
              وغير
              قابل للاستخدام للأغراض التجارية أو أعمال الوسطاء.</span></p>
      <p><span style="font-size: 16px;">8. إن عملية تعبئة النماذج والتواصل مع
              المنصة
              واستخدامها والتعامل معها والتقديم من خلالها يجب أن تتم بصورة شخصية بواسطة الطالب نفسه ولا
              يعتد
              بأي تعامل مع أي جهة أخرى تدعي أنها تمثل طالباً أو عدداً من الطلاب،</span></p>
      <p><span style="font-size: 16px;">ويقع على مسئولية مستخدم المنصة كافة
              الالتزامات. و لا يسمح لأي جهة أو أي شخص بالتحدث نيابة عن المنصة أو استخدامها بغير تصريح أو
              تمثيلها لدى الغير.</span></p>
      <p><span style="font-size: 16px;">10- يحق للمنصة استخدام البيانات والمعلومات
              لأغراض الدراسة والبحث والتحليل والإعلان والتواصل.</span></p>
      <p><span style="font-size: 16px;">11- يحق للمنصة الاتصال لمستخدميها الذين
              قاموا
              بتعبئة بيانات اتصالهم لدى المنصة لمختلف الأغراض ذات الصلة.</span></p>
      <p><span style="font-size: 16px;">12- إن عملية التقديم عبر المنصة هي عملية
              أولية
              تسعى المنصة من خلالها الإخطار المؤسسة التعليمية برغبة الطالب المبدئية في التقديم للدراسة في
              المؤسسة المعنية وذلك بعد إرفاق المعلومات والمستندات اللازمة لتقوم إدارة المؤسسة التعليمية
              بالموافقة المبدئية أو الرفض حسبما ترى وحسبما تنص عليه القوانين واللوائح والشروط
              المنظمة.</span>
      </p>
      <p><span style="font-size: 16px;">13. في حالة الموافقة المبدئية على القبول
              فإن
              تلك المرحلة تعتبر ترشيحا للقبول) ولا تعني القبول النهائي بالمؤسسة التعليمية، والتي تتم بعد
              إرفاق
              المستندات الأصلية، والتحقق منها. وسداد الرسوم المطلوبة، وإجراءات المعاينة والقبول الخاصة
              بالمؤسسة، وما لم تتم إجراءات القبول لدى الجهات الحكومية الرسمية المسئولة عن قيد الطالب
              نظاميا في
              المؤسسات التعليمية فإن كافة الإجراءات التي تسبق تلك المرحلة تعتبر إجراءات ترشيح
              للطالب.</span>
      </p>
      <p><span style="font-size: 16px;">14.ا يحق للطالب الالتحاق بـ برنامجين
              دراسيين
              في نفس الفترة.</span></p>
      <p><span style="font-size: 16px;">15. يحق للجهات الرسمية إتخاذ أي إجراءات
              قانونية تجاه الطالب الذي يتقدم بمعلومات أو مستندات غير صحيحة.</span></p>
      <p><span style="font-size: 16px;">16. يحق للجهات الرسمية في أي مرحلة إلغاء
              قبول
              الطالب في حال كان القبول خطأ أو غير متوافق مع الشروط العامة والخاصة واسس وضوابط القبول. 17
              تقع
              على عائق الطالب مسئولية تعبئة طلب التقديم المخصص عبر المنصة، وإرفاق المستندات المطلوبة
              إلكترونية
              عبر المنصة وسداد الرسوم المطلوبة. كما تقع على عاتقه مسئولية تسليم المستندات الأصلية الموثقة
              وسداد الرسوم والحضور أو السفر إلى المنفذ الرسمي لإكمال الإجراءات أو مقر المؤسسة التعليمية
              وتنفيذ
              شروط القبول في حالة قبوله مبدئيا في إحدى المؤسسات. 18. تقع على عاتق الطالب التأكد من توافق
              مؤهلاته لعملية التقديم وفقاً للشروط العامة المعلنة أو الشروط الخاصة بالمؤسسة التعليمية أو
              الكلية
              أو البرنامج الذي يرغب في التقديم سواء شروط (سنة المؤهل النسبة أو المجموع المتحصل عليه النوع
              نوع
              الشهادة وبلد صدورها المواد المؤهلة للترشيح والقبول اللياقة البدنية أو النفسية، أو غيرها من
              الشروط العامة أو الخاصة)، ولا يعتد بجهل الطالب باللوائح والشروط المنشورة أو عدم توافق
              المؤهلات.</span></p>
      <p><span style="font-size: 16px;">19 يقع على عائق الطالب صحة وسائل الاتصال
              الخاصة به ومراجعتها دورياً لمعرفة موقف التقديم. ولا يعتد بعدم إطلاعه أو فتحه لوسيلة التواصل
              نتيجة الإهمال أو ضعف الشبكة أو اي أسباب أخرى.</span></p>
      <p><span style="font-size: 16px;">20. تقرض المنصة رسوم أولية لاستخدام
              المنصة.
              كما تفرض رسوم الخدمات المستحقة عند ورود الرد بالموافقة المبدئية على ترشيح الطالب لدى المؤسسة
              التعليمية، ولا يحق للطالب | المطالبة باسترداد أي مبلغ قام بسداده للمنصة عند هذه المرحلة، كما
              لا
              يحق للطالب المطالبة باسترداد أي مبلغ قام بسداده نتيجة إدلائه بيانات خاطئة أو غير صحيحة أو
              غير
              مكتملة أو عدم تمكنه في إكمال المطلوبات في الوقت المحدد أو الالتزام بشروط التقديم، وذلك دون
              المساس بحقوق أي جهة في المطالبة بمستحقاتها المالية لدى الطالب، ودون المساس بأي عقوبات
              قانونية أو
              جنائية أخرى قد تترتب على الإدلاء بالمعلومات الكاذبة أو غير الصحيحة.</span></p>
      <p><span style="font-size: 16px;">21. يحق للطالب التقديم المبدئي في أكثر من
              تخصص
              في نفس المؤسسة التعليمية بينما لا يحق له التقدم لأكثر من مؤسسة تعليمية في ذات الوقت، وعليه
              انتظار رد المؤسسة الأولى التي قدم لها، حيث أن عملية الترشيح تتم (مؤسسة مؤسسة) وليست (تخصص
              تخصص)،
              حيث لا يجب أن يقدم الطالب لنفس التخصص في أكثر من مؤسسة، وفي حال تقدم الطالب بطلبه لأكثر من
              مؤسسة
              في ذات الوقت فإنه يعتد بالطلب الأول، ولا يعتد بما يليه، وتسقط مطالبة استرداد رسوم التقديم
              لأي
              مؤسسة أخرى. 22. في حال الرد بالموافقة من المؤسسة المقدم لها فعلى الطالب إكمال إجراءات
              التقديم،
              أما في حالة الرغبة في الانسحاب من المؤسسة بعد الموافقة على الترشيح والتقديم من خلال المنصة
              إلى
              مؤسسة تعليمية أخرى فإن ذلك يعتبر ممكناً وفقاً للزمن المناسب لتلك العملية والمكافئ لتقدم
              عملية
              التقديم والقبول في المؤسسات التعليمية والذي يمكن معرفته بالتعليق الذي يرد في إخطار الموافقة
              المبدئية أو الرفض بإمكانية الانسحاب من عدمها.</span></p>
      <p><span style="font-size: 16px;">23. في حالة عدم تمكن الطالب من إكمال عملية
              التقديم بعد ورود الرد بالموافقة على ترشيحه، فإن للمنصة الحق في فرض أي جزاءات على الطالب بما
              يشمل
              حظره من استخدام المنصة، أو المطالبة بسداد رسوم الخدمات، أو غيرها من الجزاءات التي تراها
              المنصة،
              وفي كل الأحوال فإن ذلك يرجع تقديره للمنصة تماماً وفقاً لما تراه، ووفقاً للمرحلة الزمنية
              الخاصة
              بالانسحاب.</span></p>
      <p><span style="font-size: 16px;">24. في حالة رد المؤسسة التعليمية بالرفض
              المسبب
              فإنه يمكن للطالب التقديم لأى مؤسسة أخرى إن كان ذلك متاحاً وإن توافق ذلك مع الشروط التى تنطبق
              على
              الطالب، وفي هذه الحالة لا يحق للمنصة فرض أي رسوم على الطالب.</span></p>
      <p><span style="font-size: 16px;">25. إن عملية تقديم الخدمة واستحقاق الرسوم
              تتم
              بصورة مرحلية حتى تكون عادلة؛ حيث تتمثل في المراحل التالية: 1- رسوم الاستخدام عند التقديم
              الأولى
              – رسوم الخدمات عند الرد بالقبول من المؤسسة، 3- رسوم الخدمات عند طلب الخدمات الأخرى بخلاف
              خدمات
              التقديم) فلا تفرض المنصة أي رسوم ما لم تقابلها خدمة مقدمة من المنصة.</span></p>
      <p><span style="font-size: 16px;">26 تفرض المنصة رسوم تقديم أخرى على الطالب
              الذي
              يرغب في التقديم لمؤسسة أخرى في حالة الرد بالموافقة ورغبة الطالب في الانسحاب وفي حالة الرد
              بالرفض
              فإن عملية التقديم للمؤسسة التالية تتم بذات الرسوم الأولى.</span></p>
      <p><span style="font-size: 16px;">27. يجوز للمنصة فرض أي رسوم لقاء أي خدمات
              إضافية أو أي رسوم تطلبها أي جهة رسمية لخطوات المعالجة أو المعادلة أو التقويم أو الامتحانات
              الخاصة بعملية المعادلة أو غيرها. وفي جميع الأحوال فإن أى خدمات أخرى بخلاف الخدمات المعيارية
              لعملية التقديم والقبول فإنها تتم برسوم إضافية.</span></p>
      <p><span style="font-size: 16px;">28. يحق للمنصة قبول أو رفض أي عملية تقديم
              من
              خلالها بما يتوافق مع اللوائح والشروط والقوانين أو معايير الاستخدام وفقاً لما تراه
              المنصة.</span>
      </p>
      <p><span style="font-size: 16px;">29. إن أي طلب لأي خدمات إضافية غير الخدمات
              المعيارية المعلنة والمبوبة عن طريق المنصة يتم بموافقة الطرفين وبرسوم إضافية تحددها
              المنصة</span>
      </p>
      <p><span style="font-size: 16px;">30. إن جميع المؤسسات التعليمية التي تظهر
              في
              المنصة هي مؤسسات تعليمية مرخصة ومجازة من السلطات الرسمية التي تقع في دائرة اختصاصها ممارسة
              المؤسسة التعليمية العملها أوذلك يقع على عائق المؤسسة التعليمية نفسها والمؤسسة أو المنصة غير
              مطالبة بالاعتماد أو المعادلة لدى أي دولة أو أي جهة أخرى.</span></p>
      <p><span style="font-size: 16px;">31. لا يجوز لأي مؤسسة تعليمية غير مرخصة
              الظهور
              عبر المنصة، وفي حال ثبوت ذلك فإنه يقع على المؤسسة كافة التبعات القانونية، مع عدم المساس
              بحقوق
              المنصة أو الغير في المطالبة بأي تعويض أو جير للضرر.</span></p>
      <p><span style="font-size: 16px;">32. لا يجوز لأي مؤسسة مشاركة في المنصة أو
              تظهر
              من خلالها الإدلاء بأي معلومات خاطئة أو غير صحيحة أو مضللة أو ذات دلالات تضر بالآخرين أو تعمل
              على
              منافسة الآخرين بصورة – سالبة. ويحق للمنصة إتباع ما تراه مناسباً من إجراءات تجاه تلك المؤسسة
              بما
              يشمل إيقاف الخدمات أو المطالبة بالتعويض أو أي إجراء قانوني آخر. مع عدم المساس بحقوق الغير في
              المطالبة بأي تعويض أو جبر الضرر.</span></p>
      <p><span style="font-size: 16px;">33. يجوز للمنصة إتاحة أي مساحة أو خدمة
              للإعلان
              من قبل المؤسسات التعليمية أو الخدمية أو التجارية أو غيرها ممن ترى المنصة، وذلك في الصفحات
              الرئيسية أو الفرعية للمنصة أو من خلال الإشعارات أو الرسائل البريدية أو الإلكترونية أو رسائل
              الوسائط المتعددة أو الرسائل النصية القصيرة SMS أو رسائل البريد الإلكتروني أو الاتصال الهاتفي
              أو
              الرسائل الصوتية </span></p>
      <p><span style="font-size: 16px;">34. يحق للمنصة تحصيل الرسوم الدراسية أو
              رسوم
              التسجيل الخاصة بالمؤسسة التعليمية أو أي جهة أخرى أو رسوم أخرى تفرض بواسطة المؤسسات التعليمية
              في
              حالة الاتفاق على ذلك مع المؤسسة التعليمية، وفي هذه الحالة فإن عملية سداد الرسوم عبر المنصة
              تعتبر
              جزء من الخطوات اللازمة لإكمال عملية التقديم.</span></p>
      <p><span style="font-size: 16px;">35 تلتزم المنصة بسرية بيانات ومعلومات
              الطالب
              ولا تقدمها للغير لأغراض تجارية أو غيرها، وجميع عمليات التواصل تتم عبر المنصة.</span></p>
      <p><span style="font-size: 16px;">36. تنتهى العلاقة بين الطالب والمنصة، وبين
              المنصة والمؤسسة عند عملية التقديم، أو الرد بالموافقة، أو إكمال عملية التقديم عند أي مرحلة من
              المراحل السابقة أو جميعها، وذلك بخلاف الخدمات الأخرى المطلوبة من المنصة والتي تتم باتفاق أخر
              وطلب منفصل</span></p>
      <p><span style="font-size: 16px;">37- يحق للمنصة إصدار أي تطوير أو تحديث أو
              ملاحق لاتفاقية الاستخدام هذه. ويتم إخطار المستخدمين بذلك سواء في وسائل الاتصال الخاصة بهم
              المقدمة للمنصة</span></p>
          </div>
  </div>
</div>
</div>

