<div class="container my-5" style="text-align: center;">
    <div data-elementor-type="wp-page" data-elementor-id="27424" class="elementor elementor-27424"
        data-elementor-post-type="page">
                <div class="elementor-widget-container">
                    <h2 class="mb-5" style="color: #333;">سياسة الإلغاء</h2>
                </div>

                <div class="elementor-element elementor-element-9baa0c2 elementor-widget elementor-widget-text-editor"
                data-id="9baa0c2" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container" style="text-align: right;">
                   
                    <p style="direction: rtl;"><span style="font-size: 16px;">سياسة الإلغاء والانسحاب من الدورات
                            المباشرة على تطبيق (zoom)/ حجز استشارة/ حجز خدمة:</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يجب تقديم طلب مكتوب للإلغاء والانسحاب من
                            الدورة خلال أقل من 3 ساعات إلى:</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">info@gulf.center</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يتم استرجاع كامل المبلغ إذا تم الإلغاء
                            خلال 3 ساعات من تاريخ تنفيذ الطلب، مع خصم الرسوم المصرفية اللازمة.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يتم استرجاع 75% من المبلغ المدفوع في حال
                            تم الإلغاء خلال 24 ساعة من تاريخ تنفيذ الطلب.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يتم استرجاع 50% من المبلغ المدفوع في حال
                            تم الإلغاء خلال الفترة من (2-4) أيام من تاريخ تنفيذ الطلب.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">لن يتم استرجاع أي مبالغ في حال تم الإلغاء
                            بعد مرور 3 ساعات من تاريخ تنفيذ الطلب.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يمكن ترحيل المبلغ لأي دورة/ برنامج آخر، مع
                            دفع الفرق إن وجد بعد أن يتم إبلاغنا بذلك خلال خمس أيام قبل تاريخ بداية البرنامج أو الدورة
                            كحد أقصى.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">لا تُعاد رسوم الاشتراك في حال عدم تقديم
                            طلب مكتوب بذلك.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">إذا لم يحضر المتدرب الدورة/ البرنامج/
                            الاستشارة، أو لم يتم متطلبات تنفيذ الخدمة، فإن رسوم التسجيل لا تُعاد للمتدرب، ويمكن ترحيلها
                            لأي دورة أخرى خلال 6 شهور من تاريخ تنفيذ الطلب الأول.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">الدورات المسجلة لا يتم استرجاع المبالغ
                            فيها، ويتم ترحيل المبلغ لأي دورة/ برنامج أو استشارة أو خدمة أخرى، نظرًا لخصوصية الدورات
                            المسجلة التي تسمح بالاطلاع على المادة بعد التسجيل مباشرة.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">الدفع والاسترجاع:</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يتم استرداد المدفوعات لحساب العميل خلال 30
                            يوم عمل من تاريخ الإلغاء.</span></p>
                </div>
            </div>
    </div>
</div> <!-- ast-container -->


