
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a routerLink="/landing" class="navbar-brand d-flex align-items-center px-4 px-lg-5">

      <h2 class="m-0 text-primary"><i class="fa fa-book mx-3"></i>أكاديمية الخليج</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        

          
      </div>
      <a routerLink="/profile" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">صفحتى<i class="fa fa-arrow-left ms-3 mx-2"></i></a>
  </div>
</nav>
<!-- Navbar End -->

<div class="container">
  <div class="row">
    <span>
      <h3 class="m-4" style="text-align: center">اختر صفك الدراسى</h3>
    </span>
  </div>
</div>
<div class="container m-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xl-3" >
      <a routerLink="/semester">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span>1</span>
            </h2>
            <span class="f-right">الصف الاول </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>

<!-- Courses Start -->
<div id="MYcourses" class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        الكورسات التى تم التسجيل بها
      </h6>
      <h1 class="mb-5">كورساتى</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="/assets/img/course-1.jpg" alt="" />
            <div
              class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"
            >
              <a

              routerLink="/courses"
                class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 50px "
                >محتوى الكورس</a
              >
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h5 class="mb-4">كورس العربى</h5>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2"
              ><i class="fa fa-user text-primary me-2"></i>الصف الاول</small
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="/assets/img/course-2.jpg" alt="" />
            <div
              class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"
            >
              <a
              routerLink="/courses"
                class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 50px "
                >محتوى الكورس</a
              >
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h5 class="mb-4">كورس الكمياء</h5>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2"
              ><i class="fa fa-user text-primary me-2"></i>الصف الثانى</small
            >
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Courses End -->
